.App {
  text-align: center;
  justify-content: space-around;
  height: 100vh;
}

.App-header {
  margin-bottom: 40px;
}

.Inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.parameter-input {
  margin-bottom: 10px;
}

.start, .output {
  margin-top: 40px;
  margin-bottom: 40px;
}

.topology {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

body {
  margin: 0;
  background-color: bisque;
}

.model {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.model > div {
  display: flex;
  margin-bottom: 3%;
}

.distribution {
  display: flex;
  flex-direction: column;
}

.distribution > div {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

